leap=true

stride=false	

myBasic=false
opt_reduce_overriden_writes=true
opt_reduce_readseq_of_same_write=true 	
opt_obj_sensitivity=false
opt_avoid_autoboxing=true
opt_commutativity=false
#so basic that it must be true:
opt_reduce_read_of_local_write=true 
opt_reduce_write_after_local_write=true 

		
modelMonitor=true
modelWaitNotify=false
	
debug_disable_addOrder=false
debug_disable_writeSync=false
debug_disable_readSync=false
debug_disable_counter=false
	

#constant
COUNTER_BIT_SIZE=48
PARTITIONCOUNT=1024
accessedLocSize=1024
threadSize=30